body{
    margin-top: 50px;
    justify-content: center;
}

h1{
    text-align: center;
}
ul{
    padding: 0;
    margin-bottom: 0px;
}
ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}
input{
    border: none;
    width: 100%;
}
.borrar{
    justify-content: end;
}